nav {
	text-align: center;
	padding: 10px;
	outline: 1px solid pink;
}

.nav-ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
	max-width: 75%;
	margin: 0 auto;
	padding-inline-start: 0;
	flex-wrap: wrap;
    }

.nav-li a {
        font-weight: bold;
        color: red;
        padding: 5px;
        text-decoration: none;
    }

.nav-li a:hover {
        text-decoration: underline;
	color: green;
    }

section#my-dogs {
	font-size: 24px;
}

div {
        background-color: aqua;
        color: blue;
        font-size: 18px;
	margin-bottom: 1rem;
    }
#my-dogs div:nth-child(2) {
	border: 5px dotted yellow;
}
 .h1 {
        color: purple;
    }
button {
	color: black;
	border: 2px solid #D3BBEA;
	padding: 15px 30px;
	font-size: 16px;
	cursor: pointer;
	background-color: white;
	display: block;
}
.img-div {
	max-width: 900px;
}
.img-div img {
	width: 100%;
	height: auto;
}
